@font-face {
  font-family: "Noto Sans KR";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("https://assets.corona-live.com/fonts/noto-sans-kr-v12-korean-300.woff2")
    format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("https://assets.corona-live.com/fonts/noto-sans-kr-v12-korean-regular.woff2")
    format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("https://assets.corona-live.com/fonts/noto-sans-kr-v12-korean-500.woff2")
    format("truetype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("https://assets.corona-live.com/fonts/noto-sans-kr-v12-korean-700.woff2")
    format("truetype");
}

#font-preload {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-family: "Noto Sans KR", sans-serif;
}

#font-preload::after {
  content: "_";
  font-weight: 700;
}

#font-preload::before {
  content: "_";
  font-weight: 300;
}
