* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input,
.user-select * {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

button {
  background: transparent;
  color: auto;
  outline: none;
  border: none;
}

/* @font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  src: url("https://assets.corona-live.com/fonts/noto-sans-kr-v12-korean-300.woff2")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url("https://assets.corona-live.com/fonts/noto-sans-kr-v12-korean-regular.woff2")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  src: url("https://assets.corona-live.com/fonts/noto-sans-kr-v12-korean-500.woff2")
    format("truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: url("https://assets.corona-live.com/fonts/noto-sans-kr-v12-korean-700.woff2")
    format("truetype");
} */

/* @font-face {
  font-family: "Noto Sans KR";
  font-weight: 900;
  src: url("https://assets.corona-live.com/fonts/noto-sans-kr-v12-korean-900.woff2")
    format("truetype");
  font-display: fallback;
} */

/* @font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("https://assets.corona-live.com/fonts/NotoSansKR-Light.woff2")
    format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://assets.corona-live.com/fonts/NotoSansKR-Regular.woff2")
    format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("https://assets.corona-live.com/fonts/NotoSansKR-Medium.woff2")
    format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("https://assets.corona-live.com/fonts/notosanskr-bold-webfont.woff2")
    format("woff2");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url("https://assets.corona-live.com/fonts/notosanskr-black-webfont.woff2")
    format("woff2");
} */

/* @font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format("opentype");
} */
/* @font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
      format("opentype");
} */

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/noto-sans-kr-v12-korean-300.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/noto-sans-kr-v12-korean-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/noto-sans-kr-v12-korean-500.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/noto-sans-kr-v12-korean-700.woff2") format("woff2");
}
